<tr valign="top">
    <td>{{ cv.cv_nom_poste }}</td>
    <td>{{ cv.cv_nom_employeur }}</td>
    <td>{{ cv.cv_ville }}</td>
    <td>{{ cv.cv_annee_debut }}</td>
    <td>{{ cv.cv_annee_fin }}</td>
    <td>{{ cv.cv_description_poste }}</td>
    <td>
        {% if current_user == cv.utilisateur %}
        <a href="{{ url_for('editer_cv', user_name=cv.utilisateur.user_name, id=cv.cv_id) }}">
            <span class="label label-default">Mettre à jour</span>
        </a>
        {% endif %}
    </td>
</tr>