{%extends "./base.html"%}

{%block app_content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 liens_rapides_home">
            <div class="text-center">
                        <span style="font-size: 48px; color: #be122a;">
                            <i class="fas fa-comments"></i>
                        </span>
            </div>
            <a href="{{url_for('discussions')}}">
                <div class="text-center titre_raccourci">Discussions récentes</div>
            </a>
        </div>
        <div class="col-sm-3 liens_rapides_home">
            <div class="text-center">
                        <span style="font-size: 48px; color: #be122a;">
                            <i class="fas fa-list"></i>
                        </span>
            </div>
            <a href="{{url_for('thematiques')}}">
                <div class="text-center titre_raccourci">Thématiques</div>
            </a>
        </div>
        <div class="col-sm-3 liens_rapides_home">
            <div class="text-center">
                        <span style="font-size: 48px; color: #be122a;">
                            <i class="fas fa-user"></i>
                        </span>
            </div>
            <a href="{{url_for('utilisateurs')}}">
                <div class="text-center titre_raccourci">Utilisateurs</div>
            </a>
        </div>
        <div class="col-sm-3">
            <!-- ici les stats -->
        </div>
    </div>
    <div>
        <!-- ici les posts alétaoires -->
    </div>
</div>

{%endblock%}