{%extends "./base.html"%}

{%block app_content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 formulaire">
            {% include './partials/recherche/recherche_posts.html' %}
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 formulaire">
            {% include './partials/recherche/recherche_utilisateurs.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 liens_rapides_home">
            <div class="text-center">
                        <span style="font-size: 48px; color: #be122a;">
                            <i class="fas fa-comments"></i>
                        </span>
            </div>
            <a href="{{url_for('discussions')}}">
                <div class="text-center titre_raccourci">Discussions récentes</div>
            </a>
        </div>
        <div class="col-sm-3 liens_rapides_home">
            <div class="text-center">
                        <span style="font-size: 48px; color: #be122a;">
                            <i class="fas fa-list"></i>
                        </span>
            </div>
            <a href="{{url_for('thematiques')}}">
                <div class="text-center titre_raccourci">Thématiques</div>
            </a>
        </div>
        <div class="col-sm-3 liens_rapides_home">
            <div class="text-center">
                        <span style="font-size: 48px; color: #be122a;">
                            <i class="fas fa-user"></i>
                        </span>
            </div>
            <a href="{{url_for('utilisateurs')}}">
                <div class="text-center titre_raccourci">Utilisateurs</div>
            </a>
        </div>
        <div class="col-sm-2 stats_home">
            <!-- ici les stats -->
            <h5>Quelques chiffres à propos du ForumTNAH</h5>
            <ul>
                <li>{{ compteur_utilisateur }} utilisateurs</li>
                <li>{{ compteur_posts }} messages publiés</li>
                <li>{{ compteur_comments }} commentaires</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <h5>Voici {{ nb_posts }} messages pris au hasard</h5>
        {% include 'partials/posts/posts_liste.html' %}
    </div>
</div>

{%endblock%}