{% extends "./base.html" %}

{% block app_content %}

<h1>Inscription</h1>
<p>Complétez le formulaire et cliquez sur "S'inscrire".</p>
<form method="POST" action="{{url_for('inscription')}}">
  <div>
    <label for="register-login">Nom d'utilisateur</label>
    <div>
      <input type="text" id="register-login" name="user_name" placeholder="Nom d'utilisateur pour se connecter">
    </div>
  </div>
  <div>
    <label for="register-nom">Nom</label>
    <div>
      <input type="text" class="form-control" id="register-nom" placeholder="Votre nom" name="user_surname">
    </div>
  </div>
    <div>
    <label for="register-prenom">Prénom</label>
    <div>
      <input type="text" id="register-prenom" placeholder="Votre prénom" name="user_firstname">
    </div>
  </div>
  <div>
    <label for="register-email">Email</label>
    <div>
      <input type="email" id="register-email" placeholder="email@example.com" name="user_mail">
    </div>
  </div>
  <div>
    <label for="register-password">Mot de passe</label>
    <div>
      <input type="password" id="register-password" placeholder="Mot de passe" name="user_password">
    </div>
  </div>
  <div>
    <button type="submit">S'inscrire</button>
  </div>
</form>
{% endblock %}