{% extends "./base.html" %}

{% block app_content %}
{%include 'partials/posts_liste.html'%}

<h4>Commenter </h4>
<form action="" method="post">
        {{ form.hidden_tag() }}
        {{super()}}
        {{pagedown.include_pagedown()}}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(cols=70, rows=7) }}<br>
            {% for error in form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{%endblock%}