{% extends "./base.html" %}

{% block app_content %}
    <h1>{{ current_user.user_name }}, commence ici une discussion!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.titre.label }}<br>
            {{ form.titre(size=70) }}<br>
            {% for error in form.titre.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {{super()}}
        {{pagedown.include_pagedown()}}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(cols=70, rows=7) }}<br>
            {% for error in form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <h2>Les dernières discussions du forum</h2>
        {%include 'partials/posts_liste.html'%}
{% endblock %}