{%extends './base.html'%}

{%block app_content%}

<div class="row">
    <div class="col-sm-8">
        {%include 'partials/infos_generales_utilisateur.html'%}
        <!-- inclure ici le bloc des compétences -->
    </div>
</div>

<div class="row">
    {%include 'partials/posts_liste.html'%}
    <!-- gestion de la pagination -->
    {% if prev_url %}
    <a href="{{ prev_url }}">Suivants</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Anciens</a>
    {% endif %}
    <!-- inclure ici le bloc du CV -->
</div>

{% endblock %}