{%extends './base.html'%}

{%block app_content%}

<div class="row">
    <div class="col-sm-8">
        {%include 'partials/infos_generales_utilisateur.html'%}
        <!-- inclure ici le bloc des compétences -->
    </div>
</div>

<div class="row">
    {%include 'partials/posts_liste.html'%}
    <!-- gestion de la pagination -->
    <nav aria-label="research-pagination">
  <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
        {% if page %}

          {% if page != pagination.page %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('utilisateur', user_name=user.user_name, page=page) }}">{{page}}</a>
            </li>
          {% else %}
            <li class="page-item active disabled">
              <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
            </li>
          {% endif %}

        {% else %}
            <li class="page-item disabled">
              <a class="page-link">...</a>
            </li>
        {% endif %}

    {%- endfor %}
  </ul>
</nav>
    <!-- inclure ici le bloc du CV -->
</div>

{% endblock %}