{% extends "./base.html" %}

{% block app_content %}
<h1>Editer </h1>
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.titre.label }}<br>
            {{ form.titre(size=70) }}<br>
            {% for error in form.titre.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.indexation.label }}<br>
            {{ form.indexation(size=48) }}<br>
            {% for error in form.indexation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {{super()}}
        {{pagedown.include_pagedown()}}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(cols=70, rows=7) }}<br>
            {% for error in form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{%endblock%}