<!DOCTYPE html>
<html lang="fr">
<head>
    {% block titre %}{% endblock %}

    <!-- favicon pour le navigateur -->
    <link rel="icon" href="{{ url_for('static', filename='img/logo_forumTNAH.png') }}" type="image/png">

    <!-- métadonnées de la page HTML -->
    <meta charset="utf-8">
    <meta name="description" content="Forum pour les masters TNAH de l'Ecole des Chartes">
    <meta name="keywords" content="Forum, Ecole, Chartes, Master, TNAH, ENC">
    <meta name="author" content="Maxime Challon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}{% endblock %}
</head>
<body style="background-color: #e8e8e8">
{% block navbar %}{% endblock %}
{% block content %}
{% block connexion %}{% endblock %}
{% block app_content %}{% endblock %}
{% endblock %}
{% block scripts %}{% endblock %}
</body>
{% block footer %}{% endblock %}
</html>