    <tr valign="top">
        <td style="text-align:center;">
            <a href="{{url_for('utilisateur', user_name=post.auteur.user_name)}}">
                <img src="{{post.auteur.avatar(36)}}"><br>
                {{post.auteur.user_name}}
            </a>
        </td>
        <td>
            <b>{{post.post_titre}}</b><br/>
            {%if post.html%}
            {{post.html | safe}}
            {%else%}
            {{post.post_message}}
            {%endif%}
        </td>
        <td>
            {{post.post_date}}
        </td>
        <td></td>
        <td></td>
        <td>
            <a href="{{url_for('post', id=post.post_id)}}">
                <span class="label label-default">Permalien</span>
            </a>
            {%if current_user == post.auteur%}
            <a href="{{url_for('editer_post', id=post.post_id)}}">
                <span class="label label-default">Mettre à jour</span>
            </a>
            <a href="{{ url_for('post', id=post.post_id) }}">
                    <span class="label label-primary">{{ post.comments.count() }}Commentaires</span>
                </a>
            {%endif%}
        </td>
    </tr>