{% extends "partials/html_general.html" %}

{% block titre %}
{% if nom %}<title>ForumTNAH | {{ nom }}{% else %}ForumTNAH{% endif %}</title>
{% endblock %}

{% block styles %}
<!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css')}}">
{% endblock %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock %}

{% block connexion %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
{% endwith %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- style Javascript de Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- FontAwesome -->
<script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}