{% extends "partials/html_general.html" %}

{% block titre %}
{% if nom %}<title>ForumTNAH | {{ nom }}{% else %}ForumTNAH{% endif %}</title>
{% endblock %}

{% block styles %}
<!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css')}}">
{% endblock %}

{% block navbar %}
<!-- barre de menu -->
<nav class="navbar navbar-expand-lg navbar-light" style='background-color: #e8e8e8'>
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='img/logo_forumTNAH.png') }}" width="45" height="45" class="d-inline-block align-top" alt="logo">
  </a>

  <!-- pour l'utilisateur non connecté-->
  {% if not current_user.is_authenticated %}
  <a class="navbar-brand" href="{{ url_for('racine') }}">ForumTNAH</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('racine') }}">Accueil</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('inscription') }}">Inscription</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('connexion') }}">Connexion</a>
      </li>

      <!-- Pour l'utilisateur connecté -->
      {% else %}
      <a class="navbar-brand" href="{{ url_for('home') }}">ForumTNAH</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Accueil</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='background-color: #e8e8e8'>
              Thèmes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e8e8e8">
              <a class="dropdown-item" href="{{ url_for('thematiques') }}">Thématiques</a>
              <a class="dropdown-item" href="{{ url_for('competences') }}">Compétences</a>
              <a class="dropdown-item" href="{{ url_for('lieux') }}">Lieux</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('poster') }}">Publier</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('messagerie') }}">Messagerie</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='background-color: #e8e8e8'>
              Recherches
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e8e8e8">
              <a class="dropdown-item" href="{{ url_for('recherche_posts') }}">Posts</a>
              <a class="dropdown-item" href="{{ url_for('recherche_utilisateurs') }}">Utilisateurs</a>
            </div>
          </li>

          <li>
            <a class="nav-link" href="{{ url_for('utilisateur', user_name=current_user.user_name) }}">Mon profil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('deconnexion') }}">Déconnexion ({{ current_user.user_name }})</a>
          </li>

          <li class="nav-item" style="float:right; margin-left:200px;">
            <a class="nav-link" href="{{ url_for('api') }}">API</a>
          </li>

          {% endif %}
        </ul>
  </div>
</nav>
{% endblock %}

{% block connexion %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
{% endwith %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- style Javascript de Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- FontAwesome -->
<script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
{% endblock %}

{% block footer %}
<footer class="blog-footer" style="background-color: #e8e8e8">
    <div class="container" style="padding: 1em; text-align: center">
        <p>© Ecole nationale des Chartes - Maxime Challon</p>
    </div>
</footer>
{% endblock %}